<%# app/views/real_applications/manage.html.erb %>

<div class="form-box" style="text-align:center;width:65%;">
  <h3 style="margin-bottom:20px;">Manage Applications</h3>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Student Email</th>
        <th>Course Interested</th>
        <th>Section Interested</th>
        <th>Time Interested</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Applicant Information</th>
      </tr>
    </thead>
    <tbody>
      <% @real_applications.each do |application| %>
        <tr>
          <td><%= application.student_email %></td>
          <td><%= application.course_intrested %></td>
          <td><%= application.section_intrested %></td>
          <td><%= application.time_intrested %></td>
          <td><%= application.status %></td>
          <td style="display:flex;"> 
          <% if application.status != 'approved' && application.status != 'denied' %>
              <%= button_to 'Approve', approve_real_application_path(application), method: :put, class: 'action-button' %>
              <%= button_to 'Deny', deny_real_application_path(application), method: :put, class: 'action-button' %>
          <% end %>
          </td>
          <td>
            <%= link_to 'View Details', show_applicant_real_application_path(application), class: 'action-button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Back to Main Page', courses_path%>
</div>

