<%# app/views/real_applications/show_applicant.html.erb %>

<h1>Applicant Information</h1>

<!-- Email -->
<p>Email: <%= @student.student_email.presence || "No email provided" %></p>

<!-- Phone Number -->
<p>Phone Number: <%= @student.phone_number.presence || "No phone number provided" %></p>

<!-- Other information -->
<h2>Available Times</h2>
<% if @times.any? %>
  <table>
    <thead>
      <tr>
        <th>Weekday</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% @times.each do |time| %>
        <tr>
          <td><%= time.weekday %></td>
          <td><%= time.start_time.strftime('%H:%M') %></td>
          <td><%= time.end_time.strftime('%H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No available times found for this applicant.</p>
<% end %>
<h2>Qualified Course</h2>
<% if @courses.any? %>
  <table>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
           <td>CSE<%= course.catalog_number  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No qualified courses found for this applicant.</p>
<% end %>

<h2>Evaluation</h2>
<% if @evaluations.any? %>
  <table>
    <thead>
      <tr>
        <th>Evaluated By</th>
        <th>Course graded</th>
        <th>Rate(out of 5)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @evaluations.each do |evaluation| %>
        <tr>
           <td><%= evaluation.faculty_email %></td>
           <td><%= evaluation.course_name %></td>
           <td><%= evaluation.rate %></td>
           <td><%= evaluation.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No evaluation found for this applicant.</p>
<% end %>



<%= link_to 'Back to Manage Applications', manage_real_applications_path, class: 'btn btn-primary' %>
