
<!DOCTYPE html>
<html>
<head>
    <title>Student Information</title>
    <style>
        .time-entry {
            margin-bottom: 10px;
            display: flex; /* Makes the container use flexbox */
            justify-content: space-between; /* Distributes the space between the items */
            align-items: center; /* Aligns items vertically */
        }
        .form-group {
            flex: 1; /* Each child takes up equal space */
            margin: 0 10px; /* Add some space between the items */
        }
    </style>
</head>
<body>

<%= form_with url: setInfo_students_path, method: :post, id: 'student-form' do |form| %>
    <% if @already_applied %>
    <h1>By clicking submit your current informat1 will be replaced to the new one</h1>
    <% end %>
    
    <h2>Available Times</h2>
    <% if current_user %>
        <%= form.hidden_field :student_email, value: current_user.email %>
    <% end %>
    <div id="available-times">
        <% 15.times do |i| %>
        <div class="time-entry">
            <div class="form-group">
                <%= label_tag "available_times[#{i}][start_time]", 'Start Time' %>
                <%= time_field_tag "available_times[#{i}][start_time]", nil, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag "available_times[#{i}][end_time]", 'End Time' %>
                <%= time_field_tag "available_times[#{i}][end_time]", nil, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag "available_times[#{i}][weekday]", 'Weekday' %>
                <%= select_tag "available_times[#{i}][weekday]", options_for_select([
                    ['Monday', 'Monday'],
                    ['Tuesday', 'Tuesday'],
                    ['Wednesday', 'Wednesday'],
                    ['Thursday', 'Thursday'],
                    ['Friday', 'Friday'],
                    ['Saturday', 'Saturday'],
                    ['Sunday', 'Sunday']
                ]), class: 'form-control' %>
            </div>
        </div>
        <% end %>
    </div>

    <h2>What courses are you qualified to grade</h2>
    <div id="course-names">
        <% 10.times do |i| %>
        <div class="course-entry">
            <div class="form-group">
                <%= label_tag "courses[#{i}][name]", "Course Name #{i+1} CSE " %>
                <%= select_tag "courses[#{i}][name]", options_from_collection_for_select(Course.select(:catalog_number).distinct.order(:catalog_number), :catalog_number, :catalog_number), include_blank: true, class: 'form-control' %>
            </div>
        </div>
        <% end %>
    </div>

    <h2>Phone Number</h2>
    <div class="form-group">
        <%= label_tag :phone_number, "Phone Number" %>
        <%= text_field_tag :phone_number, nil, class: 'form-control', placeholder: "Enter your phone number" %>
    </div>

    <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to "Back", courses_path, class: 'action-button' %>
<% end %>

</body>
</html>
