
  <%= form_with(url: reload_OSU_API_path, local: true) do |form| %>
  
    <div class="form-box">
      <h3 style="margin-bottom:20px;">Load CSE courses from OSU API</h3>
      <div class="field">
        <h4>Key word:</h4>
        <ul>
          <li><strong>cse,Software, Fundation, and etc.</strong>Anything you want to search</li>
        </ul>
        <%# <%= form.label :search_string %><br>
        <%= form.text_field :q, required: true %>
      </div>

      <div class="field">
        <h4>Term Values:</h4>
        <ul>
          <li><strong>1234:</strong> Summer 2023</li>
          <li><strong>1238:</strong> Autumn 2023</li>
          <li><strong>1242:</strong> Spring 2024</li>
        </ul>
        <%# <%= form.label :term, "Academic Term" %><br>
        <%= form.text_field :term %>
      </div>

      <div class="field">
        <h4>Campus Values:</h4>
        <ul>
          <li><strong>col:</strong> Columbus</li>
          <li><strong>lma:</strong> Lima</li>
          <li><strong>mns:</strong> Mansfield</li>
          <li><strong>mrn:</strong> Marion</li>
          <li><strong>nwk:</strong> Newark</li>
          <li><strong>wst:</strong> Wooster</li>
        </ul>
        <%# <%= form.label :campus, "Campus" %><br>
        <%= form.text_field :campus %>
      </div>

      <div class="field">
        <h4>Academic Career Values:</h4>
        <ul>
          <li><strong>ugrd:</strong> Undergraduate</li>
          <li><strong>grad:</strong> Graduate</li>
          <li><strong>PHP:</strong> Pharmacy</li>
          <li><strong>LAW:</strong> Law</li>
          <li><strong>VMED:</strong> Veterinary Medicine</li>
          <li><strong>OPT:</strong> Optometry</li>
          <li><strong>MED:</strong> Medicine</li>
          <li><strong>DENT:</strong> Dentistry</li>
        </ul>
        <%# <%= form.label :academic_career, "Academic Career" %><br>
        <%= form.text_field :academic_career, name: "academic-career" %>
      </div>

      <!-- Display the final URL in real-time -->
      <div id="finalUrlContainer" style="margin-top: 20px;">
        <h4>Your final URL:</h4>
        <p id="finalUrl"></p>
        <p3>If your final URL is not showing up, refresh the page and try again! It may take a while to load all data into database, please be patient.</p3>
      </div>

      <div class="actions" style="float:left;">
        <br>
        <%= form.submit "Load Data" %>
      </div>
    </div>
 <% end %>

  <div>
    <%= link_to "Back to courses", courses_path %>
    <%= link_to "Delete all courses and sections", reload_delete_all_path, class: 'action-button' %>
  </div>

<!-- JavaScript to update the final URL in real-time -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var base_url = 'https://content.osu.edu/v2/classes/search';
    var form = document.querySelector('form');
    var finalUrlContainer = document.getElementById('finalUrlContainer');
    var finalUrlElement = document.getElementById('finalUrl');

    form.addEventListener('input', function() {
      // Construct URL without authenticity token
      var params = new URLSearchParams(new FormData(form));
      params.delete('authenticity_token'); // Remove authenticity_token

      var queryString = Array.from(params.entries())
        .filter(([key, value]) => value.trim() !== '') // Filter out empty values
        .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
        .join('&');

      var finalUrl = base_url + (queryString.length > 0 ? '?' + queryString : '') + "&subject=cse";

      finalUrlElement.textContent = finalUrl;
    });
  });
</script>