<%= form_with model: @evaluation, url: evaluations_path, local: true, data: { turbo: false } do |form| %>

  <%= form.hidden_field :faculty_email, value: current_user.email, name: 'evaluation[faculty_email]' %>

  <%= form.label :student_email %>
  <%= form.text_field :student_email, placeholder: "Enter student's email", name: 'evaluation[student_email]' %>

  <%= form.label :course_name %>
  <%= form.text_field :course_name, placeholder: "Enter course name", name: 'evaluation[course_name]' %>

  <%= form.label :rate %>
  <%= form.number_field :rate, in: 1..5, placeholder: "Rate from 1 to 5", name: 'evaluation[rate]' %>

  <%= form.label :description %>
  <%= form.text_area :description, placeholder: "Describe your feedback", name: 'evaluation[description]' %>

  <%= form.submit "Submit Evaluation" %>
  <% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
  <% end %>
<% end %>

