<p style="color: green"><%= notice %></p>

<%= render @recommend %>

<div>
  <%= link_to "Edit this recommend", edit_recommend_path(@recommend) %> |
  <%= link_to "Back to recommends", recommends_path %>

  <%= button_to "Destroy this recommend", @recommend, method: :delete %>
</div>
